.special-features {
    text-align: center;
}


.special-features .heading {
    font-size: 2.2vw;
    font-weight: 600;
    padding-bottom: 2vw;
}

.sp {
    padding-top: 3vw;
    font-weight: 600;
}

.features-holder {
    width: 80%;
    display: flex;
    padding-left: 3vw;
    padding-right: 3vw;
    /* padding-top: 1.8vw; */
    padding-bottom: 2vw;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.holder-text {
    width: 60vw;
    padding: 1vw;
}

.holder-image {
    width: 40vw;
}

.special-features h2 {
    padding-bottom: 2vw;
    font-size: 2vw;
}

.text {
    font-size: 1.2vw;
    font-weight: 500;
}

.featuress-holder {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 1vw;
    justify-content: center;
    padding-bottom: 2vw;
}

.features {
    padding: 1.6vw 1vw;
    flex: 1;
    border-radius: 1vw;
    bottom: 0;
    position: relative;
}

.features:hover{
    bottom: 0.1vw;
}

.features-heading {
    font-weight: 600;
    padding-bottom: 1vw;
}

.features-text {
    font-weight: 500;
    width: 90%;
    margin: auto;
}